In [1]:
# Importar los paquetes python que necesitamos
import numpy as np
import pandas as pd
import math

# Obtener el archivo de reporte microchip
pet = pd.read_excel("https://github.com/darcy2411/Proyecto-/blob/main/Reporte_Mascotas_Microchip.xlsx?raw=true")

In [ ]:
pet.head()

,MICROCHIP,FECHA REG. IMPLANTE,ESPECIE,SEXO,RAZA,NOMBRE ANIMAL,ESTERILIZACION,LOCALIDAD,ESTRATO
0,991001000889072,2019-12-31,Felino,Hembra,CRIOLLO,SABRINA,NO REGISTRADA,Usaquén,6
1,900113000921282,2019-12-30,Canino,Hembra,SAMOYEDO,MILÚ,REGISTRADA,Kennedy,3
2,900113000921300,2019-12-30,Canino,Hembra,HUSKY SIBERIANO,MIA,NO REGISTRADA,Kennedy,3
3,941000024227879,2019-12-30,Felino,Hembra,CRIOLLO,SOFIA,REGISTRADA,Usaquén,5
4,941000023941947,2019-12-29,Felino,Macho,PERSA,DAVINCI,NO REGISTRADA,Kennedy,3

In [ ]:
pet.head(n = 10)

,MICROCHIP,FECHA REG. IMPLANTE,ESPECIE,SEXO,RAZA,NOMBRE ANIMAL,ESTERILIZACION,LOCALIDAD,ESTRATO
0,991001000889072,2019-12-31,Felino,Hembra,CRIOLLO,SABRINA,NO REGISTRADA,Usaquén,6
1,900113000921282,2019-12-30,Canino,Hembra,SAMOYEDO,MILÚ,REGISTRADA,Kennedy,3
2,900113000921300,2019-12-30,Canino,Hembra,HUSKY SIBERIANO,MIA,NO REGISTRADA,Kennedy,3
3,941000024227879,2019-12-30,Felino,Hembra,CRIOLLO,SOFIA,REGISTRADA,Usaquén,5
4,941000023941947,2019-12-29,Felino,Macho,PERSA,DAVINCI,NO REGISTRADA,Kennedy,3
5,941000023941951,2019-12-29,Canino,Macho,BULLDOG FRANCES,NEWTON,NO REGISTRADA,Kennedy,3
6,941000024227932,2019-12-29,Canino,Hembra,PASTOR OVEJERO,PULGA,REGISTRADA,Suba,5
7,941000024227958,2019-12-28,Felino,Hembra,CRIOLLO,ZURY,NO REGISTRADA,Fontibón,3
8,966000101114635,2019-12-28,Canino,Macho,WEIMARANER,ROCKY,REGISTRADA,Suba,3
9,966000101114817,2019-12-28,Canino,Macho,SPRINGER SPANIEL INGLES,LEGOLAS,REGISTRADA,Suba,3

## Pregunta #1

¿Cuál es el nombre que más se repite en la especie de felinos por localidad?

In [ ]:
pet['NOMBRE ANIMAL'].value_counts().idxmax()

'LUNA'

## Pregunta #2

¿Cuál es la raza más común de la localidad de suba?

In [ ]:

if(pet.LOCALIDAD == 'Suba') pet['RAZA'].value_counts().idxmax()

'CRIOLLO'

## Pregunta #3

¿Cuantos caninos hay en ciudad bolívar con estrato 3?

In [ ]:
p = len(pet[(pet.LOCALIDAD == 'Ciudad Bolívar') & (pet.ESTRATO == 3) & (pet.ESPECIE == 'Canino')])

print("El total de caninos es de:", p)

El total de caninos es de: 1179

## Pregunta #4

¿Cual es el total de felinos por sexo en la localidad de chapinero?

In [ ]:
p = len(pet[(pet.ESPECIE == 'Felino') & (pet.LOCALIDAD == 'Chapinero')])

print("El total de felinos por sexo es:", p)

El total de felinos por sexo es: 976

## Pregunta #5

¿Cuál es el total de felinos y caninos de raza criollo por localidad?

In [ ]:
p = len(pet[((pet.ESPECIE == 'Felino') | (pet.ESPECIE == 'Canino')) & (pet.RAZA == 'CRIOLLO')])

print("Total de caninos y felinos por localidad con raza criolla es:", p)

Total de caninos y felinos por localidad con raza criolla es: 137613

## Pregunta #6

¿Cuántos microships se usaron por estrato?

In [ ]:
p = len(pet)

print("Cantidad de microships usados por estrato:", p)

Cantidad de microships usados por estrato: 206706

## Pregunta #7

¿Cuantos caninos de raza PUG hay en estrato 3 o menor a ese estrato?

In [ ]:
p = len(pet[(pet.ESPECIE == 'Canino') & (pet.RAZA == 'PUG') & (pet.ESTRATO <= 3)])

print("Cantidad de Raza pug:", p)

Cantidad de Raza pug: 1183

## Pregunta #8

¿En qué año se implementó más el microchip por especie?

In [ ]:
pet['FECHA REG. IMPLANTE'].value_counts()

2017-05-28    5824
2019-12-01    1547
2017-05-13    1329
2017-11-26    1280
2018-10-20    1082
              ...
2015-12-07       1
2015-01-28       1
2015-01-30       1
2015-02-02       1
2019-12-31       1
Name: FECHA REG. IMPLANTE, Length: 1709, dtype: int64

## Pregunta #9

¿Cual es el porcentaje por sexo y año de los caninos?

In [ ]:
p = len(pet[(pet.ESPECIE == 'Canino')])
v = len(pet)
x = (p / v) * 100

print("El procentaje de caninos es: ", x)

El procentaje de caninos es:  58.137644770833944

## Pregunta #10

¿Cuantos felinos no esterilizados hay en la localidad de Bosa?

In [ ]:
p = len(pet[(pet.ESPECIE == 'Felino') & (pet.LOCALIDAD == 'Bosa') & (pet.ESTERILIZACION == 'NO REGISTRADA')])

print("Hay una cantidad de: ", p)

Hay una cantidad de:  866

## Pregunta #11

¿Cuantos felinos por sexo hay en el archivo?

In [ ]:
p = len(pet[(pet.ESPECIE == 'Felino')])

print("Hay una cantidad de felinos de: ", p)

Hay una cantidad de felinos de:  86532

## Pregunta #12

¿Cuantos Golden retriever hay por localidad?

In [ ]:
p = len(pet[(pet.RAZA == 'GOLDEN RETRIEVER')].LOCALIDAD)

print("Por localidad hay un total de Golden Retriever de: ", p)

Por localidad hay un total de Golden Retriever de:  2840